@media (max-width: 1250px){
    .box-container{
        width: 84%;
        background-color: blueviolet;
    }

    .section-sign-in, .section-new-account{
        width: 45%;
        margin-left: 18px;
    }

}

@media (max-width: 1024px){
    .box-container{
        width: 100%;
        justify-content: space-around;
        background-color: aquamarine;
    }

    .section-sign-in, .section-new-account{
        margin-left: 0px; /*Necessário para tirar a margin de 18px colocado acima, para que eles fiquem alinhados conforme o box-container*/
    }
}

/*A partir daqui, as caixas de Login e Cadastro ficarão uma embaixo da outra.*/
@media (max-width: 768px){
    .box-container{
        justify-content: space-evenly;
        flex-direction: column;
        padding: 1.5rem;
    }

    .section-sign-in, .section-new-account{
        width: 100%;
    }

    .section-sign-in{
        height: 25%;
    }

    .section-new-account{
        height: 40%;
    }
}